.message-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 60%);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1.6rem 0;
  border-radius: 0;
  width: auto;

  & .icon {
    font-size: 2rem;
  }
  & .mic-icon {
    background-color: #1a66ff;
    padding: 2rem;
    border-radius: 1rem;
    & .icon-mic {
      color: #fff;
    }
  }
  & .input-container {
    background: #e0e0e0;
    border-radius: 1rem;
    padding: 1rem;
    grid-column: 3fr;

    display: flex;
    align-items: center;

    & input {
      background-color: transparent;
      border: none;
      outline: none;
      width: 30rem;
      font-size: 3rem;
      line-height: 4.5rem;
    }
    & span {
      position: static !important;
      padding: 1rem;
      & .fa-smile {
        color: #fff;
      }
    }
  }
}
