#login-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        width: 45rem;
        height: 40rem;
        border: 2px solid #f5f5f5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        position: relative;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border-radius: .8rem;
    }
    & *{
        margin-bottom: 1rem;
    }
    #form-loading{
        margin-bottom: 0;
        background-color: #ff93ea9e;
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
  
      }

}
