#main-layout{
    height: 100vh;
    background-color: #eaeaea;
    display: flex;
    padding: 3.5rem 3.2rem;

    .sidebar{
        background-color: rgb(74, 119, 255);
        width: 18.6rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 2rem;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .pages{
        max-height: 100%;
        background-color: #eaeaea;
        flex-grow: 1;
        margin-left: 4.3rem;
    }
}