*{
    margin: 0;
}
.profile-settings{
    width: 40%;
    height: 90%;
    margin: auto auto;
    border: 1px solid rgb(236, 226, 226);
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px;

   
    #settings{
        display: flex;
        position: relative;
        top: 10px;
    }
   
    // #settings > .icons {
    //     // margin: 10px; 
    //      padding: 5px; 
    //     font-size: 20px;
    //     position: relative;
    //     top: 30px;
    //     left: 5px;
    //     display: flex;
    //     flex-direction: column;
    //     list-style: none;
      
    // }
    // .icons> li{
    //     margin: 6px;
    //     position: relative;
    //     top: 1px;
    //     left: 5px;
    // }
    
    #settings > .title {
    
        list-style: none;
        font-size: 15px;
        position: relative;
        top: 20px;
        left:40px;
        font-weight: 500;
       
    }
    // .profile-menu{
        
    // }
    .profile-menu > i{
        position: absolute;
        left: -15px;
        font-size:18px ;
    }
    .profile-menu > li{
        margin: 20px;
        cursor: pointer;

    }
    li >a{
        text-decoration: none;
        color: black;
    }
}