:root {
  --white: #fff;
}

div.messages-page {
  height: 100%;
  display: grid;
  grid-template-areas:
    "searchBar messages messages"
    "groups messages messages"
    "recents messages messages";
  column-gap: 2.2rem;
  row-gap: 1.2rem;
  grid-template-columns: 1.2fr 1fr 1fr;
  grid-template-rows: 5.9rem 0.75fr 1fr;

  & ::-webkit-scrollbar {
    display: none;
  }

  & > .messages {
    grid-area: messages;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    & .message-content {
      padding: 2rem 0;
      overflow-y: scroll;
      flex-grow: 1;

    }

  }
}
