#profile{
    border-bottom: 1px solid rgb(134, 125, 125);
    position: relative;
    margin: 0.5rem;
    font-size: 1.3rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#profile > #user{
    position: absolute;
    left: 8.5rem;
    top: 7.5rem;
    font-size: 1.5rem;

}
#img-photo{
    width: 7rem;
    border: 1px solid wheat;
    border-radius: 50%;
    margin: 1rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    position: absolute;
    top: 5.5rem;

}
#user h5{
    font-size: 1.8rem;
    margin: 0;
    position: relative;
    left: 1rem;
}
#profile >span{
    position: absolute;
    right:2.5rem;
    top: 8rem;
    font-size: 3rem;
}
 #profile >p{
    position: absolute;
    top: 9rem;
    left: 9.5rem;
    font-size: 1.5rem;
}

@media screen and (max-width:90rem) {
    #profile{
     display: flex;
     width: 100%;
     flex-direction: column;
     height: 18rem;
     position: relative;


    }
   #profile > img{
        position: absolute;
        top: 6rem;
    }
    #profile > span{
        position: absolute;
    }
    
}