.notifications{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.search-bar{
  position: relative;
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  .search-icon{
    font-size: 2.5rem;
  }

  .search{
    width: 100%;
    border:none;
    font-size: 2.4rem;
    padding-left: 2rem;
    border-radius: white;

  }
  .search:focus{
    outline: none;
  }

  .three-dots{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .dot{
      position: initial;
      width: 0.4rem;
      height: 0.4rem;
      margin: 0.2rem 0;
      background-color: #1A66FF;
    }
  }

}


.content{
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  overflow-y: scroll;
  border-radius: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  

}
 
 #content >p{
  font-size: 1.2rem;
  padding: 1.5rem;
  width:90%;
  margin: auto;
  border-bottom: 1px solid black;
  font-weight: bold;
}

#content i{
  font-size: 2rem;
  position: absolute;
  left: 2rem;
}

@media  screen and (max-width:90rem) {
  .content{
    padding: 3rem;
    overflow: hidden;
    overflow: scroll;
  }
}
