#not {
  margin: 0;
  padding: 0;
}

#not .top {
  height: 5.9rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#not .top p {
  font-size: 2rem;
  position: absolute;
  margin: 15px 100px;
  color: #3d3d3d;
}

.bottom {
  height: 520px;
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 26px;
}
.content{
  width: 100%;
  padding: 8px;
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

}
 
 .content >p{
  font-size: 12px;
  padding: 15px;
  width:90%;
  margin: auto;
  border-bottom: 1px solid black;
  font-weight: bold;
}
.content i{
  font-size: 20px;
  position: absolute;
  left: 20px;
}



