.side-bar{
        background-color: #1A66FF;
        height: 100%;
        width: 18rem;
        border-radius: 1.8rem;

        ul{
            list-style: none;
        }
        li{
            display: block;
            padding: 2.5rem 3rem;
            color: #BAD1FF;
            font-size: 4rem;

        }
    
    }
